body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculator{
    width: 400px;
    border: 1px solid #3f3d3dac;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}